<header class="navbar bg-dark">
    <a class="navbar-brand text-light" routerLink="/">
        TU GALERIA EN LA NUBE
        <br>
        PicSpace
    </a>
    <input *ngIf="modeGallery" type="file" id="upload" (change)="fileUpload($event)" accept=".png, .jpg" hidden/>
    <label *ngIf="modeGallery" class="text-light" for="upload">
        Cargar Imagen
        <img src="../../../assets/upload.png" width="62" height="auto" alt="">
    </label>
    <button *ngIf="modeAlbum" class="btn btn-outline-light" (click)="logout()">Logout</button>
</header>

<section *ngIf="modeGallery" id="gallery">
    <button class="btn btn-primary" (click)="goAlbums()">Atras</button>
    <div class="category text-center">
        <div *ngFor="let image of images; let ident = index" class="cards">
            <div [style]="'background-image:url('+image.url+')'" id="galleryImage" (click)="openImage(ident)"></div>
            <!-- <img id="galleryImage" [src]="image.url" alt="Galeria" (click)="openImage(ident)"> -->
            <a [href]="image.url" [download]="image.fileName" target="_blank">
                <img id="downloadIcon" src="../../../assets/download-icon.png" alt="Descargar">
            </a>
            <img id="deleteIcon" (click)="deleteImage(image)" src="../../../assets/delete-icon.png" alt="Borrar">
            <p>{{image.fileName}}</p>
        </div>
    </div>
</section>

<section *ngIf="modeAlbum" id="album">
    <div class="category text-center">
        <div *ngFor="let album of albums" class="cards">
            <img id="albumImage" (click)="goGallery(album)" src="../../../assets/album.png" alt="Albumes">
            <p class="name-icon">{{album.name}}<span id="icon-delete" (click)="deleteAlbum(album.albumId)" class="material-icons">delete</span></p>
        </div>
        <div class="cards">
            <img id="albumImage" src="../../../assets/new_album.jpg" alt="Nuevo album" (click)="selectNewAlbum()">
            <p id="new-album" *ngIf="okNewAlbum">
                <input type="text" [(ngModel)]="nameAlbum.name" (keyup.enter)="addAlbum()">
                <span class="material-icons" (click)="addAlbum()">add_circle_outline</span>
            </p>
        </div>
    </div>
</section>

<app-view-image-modal></app-view-image-modal>