<header class="navbar bg-dark">
    <a class="navbar-brand text-light" routerLink="/">
        TU GALERIA EN LA NUBE
        <br>
        PicSpace
    </a>
    <input *ngIf="modeGallery" type="file" id="upload" (change)="fileUpload($event)" accept=".png, .jpg" hidden/>
    <label *ngIf="modeGallery" class="text-light" for="upload">
        Cargar Imagen
        <img src="../../../assets/upload.png" width="62" height="auto" alt="">
    </label>
    <button *ngIf="modeAlbum" class="btn btn-outline-light" (click)="logout()">Logout</button>
</header>

<section *ngIf="modeGallery" id="gallery">
    <div class="row text-center">
        <div *ngFor="let image of images; let ident = index" class="col-lg-2 col-md-4 col-sm-6">
            <img id="galleryImage" [src]="image.url" alt="Galeria" (click)="openImage(ident)">
            <a [href]="image.url" [download]="image.fileName" target="_blank">
                <img id="downloadIcon" src="../../../assets/download-icon.png" alt="Descargar">
            </a>
            <img id="deleteIcon" (click)="removeImage(image)" src="../../../assets/delete-icon.png" alt="Borrar">
            <p>{{image.fileName}}</p>
        </div>
    </div>
    <button class="btn btn-primary" (click)="goAlbums()">Atras</button>
</section>

<section *ngIf="modeAlbum" id="album">
    <div class="row text-center">
        <div *ngFor="let album of albums" class="col-lg-2 col-md-4 col-sm-6">
            <img id="albumImage" (click)="goGallery(album)" src="../../../assets/album.png" alt="Albumes">
            <p>{{album.name}}</p>
        </div>
    </div>
</section>

<app-view-image-modal></app-view-image-modal>