header {
    padding: 20px
}

#gallery {
    margin: 0 auto;
    padding: 15px;
}

#galleryImage {
    width: 300px;
    height: 250px;
    padding: 10px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

#downloadIcon, #deleteIcon {
    width: 40px;
    height: 40px;
    padding: 5px;
}

#gallery img:hover {
    opacity: 0.8;
    border: 5px solid #fff;
}

.nav-link {
    font-size: 20px;
    font-family: 'Arial';
}

#album {
    margin: 0 auto;
    padding: 15px;
}

#albumImage {
    width: 200px;
    height: auto;
    padding: 10px;
}

#album img{
    transition: all .2s;
    border: 0px solid #fff;
}

#album img:hover {
    opacity: 0.8;
    border: 5px solid #fff;
}

#new-album{
    display: flex;
    align-items: center;
    color: rgb(33,37,41);
}

#new-album span{
    cursor: pointer;
}
