<div class="card-img">
    
    <div class="background" [style]="'background-image: url('+urlImage+');'">
        
        <div class="test-content">
            <div style="width: 100%;height: 40px; cursor: pointer;" (click)="showImage()"></div>
            <a class="material-icons download" href="../../../assets/test.png" download="test_XD">
                file_download
            </a>
            <span class="material-icons delete" (click)="deleteImage()">
                delete
            </span>
        </div>
        
        <div style="width: 100%; height: 180px; cursor: pointer;" (click)="showImage()"></div>
    </div>

    <div>
        <h5>{{name}}</h5>
    </div>
</div>