.card-img {
    display: flex;
    flex-direction: column;
    margin: 5px;
    width: 240px;

    .background{
        background-repeat: no-repeat; 
        background-size: cover;
        transition: all .2s;

        &:hover{
            border-radius: 8px;
            box-shadow: 1px 1px 5px 1px;
        }
    }

    .test-content {
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        display: flex;
        justify-content: flex-end;
        align-items: flex-start;

        a:link, a:visited {
            text-decoration: none;
        }

        span,a {
            color: white;
            border-radius: 30px;
            padding: 5px;
            margin: 3px;
            box-shadow: 0 0 5px 2px rgb(0 0 0 / 14%);
            cursor: pointer;
        }

        .download {
            background: linear-gradient(106deg, rgba(0, 127, 197, 1) 0%, rgba(15, 68, 151, 1) 100%);

            &:hover {
                background: linear-gradient(106deg, rgb(0, 101, 155) 0%, rgb(11, 47, 104) 100%);
            }
        }

        .delete {
            background: linear-gradient(106deg, rgba(57, 151, 211, 1) 0%, rgba(41, 129, 186, 1) 100%);

            &:hover {
                background: linear-gradient(106deg, rgb(46, 122, 168) 0%, rgb(32, 100, 145) 100%);
            }
        }
    }

    h5 {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 900px) {
    .card-img {
        width: 180px;
    }
}