<app-navbar type="customer"></app-navbar>
<div class="background">
    <div class="container-galery">
        <app-cards-image name="image1" urlImage="../../../assets/test.png" [idImage]="1"></app-cards-image>
        <app-cards-image name="image1" urlImage="../../../assets/test.png" [idImage]="2"></app-cards-image>
        <app-cards-image name="image1" urlImage="../../../assets/test.png" [idImage]="3"></app-cards-image>
        <app-cards-image name="image1" urlImage="../../../assets/test.png" [idImage]="4"></app-cards-image>
        <app-cards-image name="image1" urlImage="../../../assets/test.png" [idImage]="5"></app-cards-image>
    </div>
</div>

<app-view-image-modal></app-view-image-modal>