<div class="background">

    <div class="form-container">
        <div id="logo-container">
            <img src="../../../assets/user.png">
            <h2>Inicio de Sesión</h2>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="login()">
            <div class="form-elements">
                <div class="inputs">
                    <input type="email" formControlName="email">
                    <input type="password" formControlName="password">

                </div>

                <div class="buttons">
                </div>
                
            </div>

            <div id="link-container">
                <a routerLink="/register"> No tengo una cuenta</a>  
            </div>
        </form>
    </div>   
</div>
