<div class="background">
    <form class="text-center p-5 mx-auto my-5" id="formRegister" [formGroup]="RegisterForm" (ngSubmit)="register()">
        <img class="mb-4" src="../../../assets/logo.png" alt="" width="72" height="auto">
        <h1 class="h3 mb-3 fw-normal">Registro</h1>
    
        <div class="form-floating">
            <input type="text" class="form-control mb-3" id="firstName" formControlName="firstName">
            <label for="firstName">Primer nombre</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control mb-3" id="secondName" formControlName="secondName">
            <label for="floatingPassword">Segundo nombre</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control mb-3" id="firstSurname" formControlName="firstSurname">
            <label for="floatingPassword">Primer apellido</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control mb-3" id="secondSurname" formControlName="secondSurname">
            <label for="floatingPassword">Segundo apellido</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control mb-3" id="user" formControlName="user">
            <label for="floatingInput">Nombre de usuario</label>
        </div>
        <div class="form-floating">
            <input type="email" class="form-control mb-3" id="email" formControlName="email">
            <label for="floatingPassword">Correo</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control mb-3" id="password" formControlName="password">
            <label for="floatingPassword">Contraseña</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control mb-3" id="confirmPassword" formControlName="confirmPassword">
            <label for="floatingPassword">Verificar Contraseña</label>
        </div>
    
        <div class="checkbox mb-3">
            <label>
            <input class="m-2" type="checkbox" value="remember-me" formControlName="acceptLicenseAgreement">Acepto los terminos y condiciones
            </label>
        </div>
        <p class="mb-4 text-muted">¿Ya tienes una cuenta? <a class="link-primary" routerLink="/login">Ingresa aquí</a></p>
        <button routerLink="/plan" class="w-100 btn btn-lg btn-primary" [disabled]="RegisterForm.invalid" type="submit">Registrarse</button>
    </form>
</div>
