.nav-link {
    font-size: 20px;
    padding: 20px 100px;
    font-family: 'Arial';
}

.navbar-brand {
    padding: 20px 100px;
}

body {
    background-color: rgb(255, 0, 0);
}

#formRegister {
    width: 450px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background: #f8f8f8;
}
