.modal-view{
    background-color: rgba(0,0,0,0.95);
    justify-content: center;
    align-items: center;
    overflow-x: hidden;
    overflow-y: auto;
    z-index: 9999999;
    position: fixed;
    padding: 16px;
    display: flex;
    height: 100%; 
    width: 100%;
    left: 0;
    top: 0;

    &-content{
        width: 100%;
        max-width: 1100px;
        display: flex;
        flex-direction: column;
    }

    &-header{
        height: 55px;
        display: flex;
        justify-content: center;
        align-items: center;

        a:link, a:visited {
            text-decoration: none;
        }

        span,a{
            transition: all .1s;
            margin-right: 10px;
            border-radius: 8px;
            margin-left: 10px;
            user-select: none;
            font-size: 36px;
            cursor: pointer;
            color: white;

            &:hover{
                font-size: 40px;
                margin-left: 8px;
                margin-right: 8px;
                background-color: rgba(0,0,0,0.5);
            }
        }
    }

    &-container{
        height: 460px;
        display: flex;

        div{
            background-repeat: no-repeat;
            background-position: center;
            background-size: contain;
            border-radius: 3px;
            width: 100%;
            position: relative;
        }

        span{
            display: flex;
            align-items: center;
            justify-content: center;
            transition: all .2s;
            user-select: none;
            font-size: 62px;
            cursor: pointer;
            color: white;
            width: 50px;

            &:hover{
                background-color: rgba(0,0,0,0.3);
                font-size: 66px;
            }
        }
    }

    &-footer{
        display: flex;
        justify-content: space-between;
        padding-right: 50px;
        padding-left: 50px;
        padding-top: 5px;
        color: white;
        height: 85px;
        div{
            display: flex;
            flex-direction: column;
        }
    }
}