<main class="d-flex flex-nowrap flex-shrink-0 ">
   
<div class="d-flex flex-column flex-shrink-0 p-3 text-bg-dark" style="width: 280px; position: fixed; margin-top: 80px; height: 100vh;">
    <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-white text-decoration-none">
      <svg class="bi pe-none me-2" width="40" height="32"></svg>
      <span class="fs-4">Administrador</span>
    </a>
    <hr>
    <ul class="nav nav-pills flex-column mb-auto">
      <li class="nav-item">
        <a routerLink="/" class="nav-link text-white" >
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          Reportes
        </a>
      </li>
      <li>
        <a routerLink="/" class="nav-link text-white">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          Administración de tablas
        </a>
      </li>
      <li>
        <a routerLink="/admin/binnacle" class="nav-link text-white" aria-current="page">
          <svg class="bi pe-none me-2" width="16" height="16"></svg>
          Bitácora
        </a>
      </li>
      
    </ul>
    <hr>
    
  </div>
 </main>