<app-navbar></app-navbar>
<app-sidebar></app-sidebar>

<div class="d-flex flex-column flex-shrink-0" >
    <div class="container">
        <div style="padding-bottom: 20px;">
            <h2 >Bitácora</h2>
            <h5 >{{msg}}</h5>
        </div>
      
        <form [formGroup]="filterForm" method="POST" >
            <div style="display: flex; margin-bottom: 30px;">
                <p>Filtrar por: </p>
                <select class="form-select form-select-sm" aria-label=".form-select-lg example"  [(ngModel)]="filterObj.eventTypeId" (change)="filter()" name="Action" formControlName="Action" >
                    <optgroup label = "Acción:">
                    <option value="1">Insert</option>
                    <option value="2">Update</option>
                    <option value="3">Delete</option>
                </select>
          
                <select class="form-select form-select-sm" aria-label=".form-select-lg example"  [(ngModel)]="filterObj.modifiedTableId" (change)="filter()" name="Table" formControlName="Table">
                    <optgroup label = "Tabla afectada:">
                    <option value="10">Usuario</option>
                    <option value="11">Tipos de usuario</option>
                    <option value="12">Plan</option>
                    <option value="20">Álbum</option>
                    <option value="21">Imágenes</option>
                </select>
                
                <div class="input-group mb-4 w-25 h-25 "> 
                    <p>Fecha: </p>
      
                    <input type="text" id="dateIn" [(ngModel)]="filterObj.eventDate" class="form-control" placeholder="yyyy-mm-dd" aria-label="Recipient's username" aria-describedby="button-addon2"  formControlName="Date" >
                    <button class="btn btn-dark" type="submit" id="button-addon2" (click)="filter()" >Buscar</button>
                </div>       
            </div>
        </form>

        <div  id="table"  style="margin: 0 auto"  >
            <table class="table table-secondary table-striped">
                <thead>
                <tr style="color: dark-gray; ">
                    <th scope = "col">Nº</th>
                    <th scope="col">Fecha</th>
                    <th scope="col">Usuario</th>
                    <th scope="col">Acción</th>
                    <th scope="col">Tabla</th>
                </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let item of list | slice: from:to; let i = index">
                        <td>{{i}}</td>
                        <td>{{item.dateEvent}} {{item.hourEvent}}</td>
                        <td>{{item.userId}}</td>
                        <td>{{item.eventTypeId}}</td>
                        <td>{{item.modifiedTableId}}</td>
                    </tr>
                </tbody>
            </table>
            
        <mat-paginator [length]="list.length"
            [pageSize]="pageSize"
            (page)="changePage($event)">
        </mat-paginator>
        </div>
    </div>
</div>


