#table{
    width: 700px;
}
.input-group {
   
    display: contents;}
form
    {margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: max-content;}

    .d-flex.flex-column.flex-shrink-0{
    margin-left: 280px;max-width: -content; text-align: center;
}
.container{
    padding-top: 130px
}
h2{
    text-align: center;
}
h5{
    text-align: center; color: brown;
}
p{
    margin-right: 20px;}
.form-select.form-select-sm{
        width:140px;
        height: fit-content;
        margin-right: 15px;
    }
    #dateIn{
        width:120px; border-bottom-left-radius: 6px; border-top-left-radius: 6px;
    }